html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

body {
  padding:20px;
}

h2, h4, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  width: 600px;
  height: 400px;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  overflow: hidden;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
}

#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
}

#left-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 30px;
}
#right-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2EBFBD;
  padding: 30px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top-section p {
  color: #98a6bd;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  width: 100%;
  padding: 10px;
  border-radius: 5px; 
}

button:hover {
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.02);
}

#price-container {
  margin-bottom: 10px; 
}
#price {
  font-weight:700;
  font-size: 1.4rem;
  display: inline-block;
}

#price-frequency {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  color: #e5eff5;
  margin-left: 5px;
}

#left-section h4 {
  margin-bottom: 15px;
}

#left-section p {
  margin-bottom: 30px;
  font-size: 0.9rem;
}

#right-section ul {
  padding: 0px;
  list-style: none;
  color: #e5eff5;
  font-size: 0.9rem;
}
